.tagNode {
  .anchor {
    fill: lightgray;
    stroke: green; //#fff;
    stroke-width: 0.5px;
    &.fixed {
      fill: red;
    }
  }

  .tag {
    .frame {
      fill: #707070;
    }

    .bg {
      fill: #f0f0f0;
    }

    text {
      font-size: 1.5em;
      font-weight: normal;
      stroke: none;
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;
      user-select: none;

      &.excluded {
        text-decoration: line-through;
      }
    }

    &.highlighted {
      .bg {
        fill: yellow;
      },

      text {
        //fill: red;
      }
    }
  }
}