@import "tagNode";

.cg {
  .overlay {
    fill: none;
    pointer-events: all;
  }

  .link {
    fill: none;
    stroke: #ddd;
    stroke-width: 1.5px;
    opacity: 1;
    //shape-rendering: crispEdges;
    //-webkit-transition: stroke 1s;

    //&.highlight {
    //  stroke: red;
    //  stroke-opacity: 1;
    //}

    //&:hover {
    //  stroke: blue;
    //}
  }
}